h1 {
    color: red;
}


button {
    width: 80px;
    height: 30px;
    margin: 0 15px;
    border-radius: 5px;
    border: none;
}




.primary {
    color: #fff;
    background-color: #1b71c7;
}

.primary:hover {
    background-color: red;
}

.secondary {
    color: #fff;
    background-color: #eb6b34;
}

.secondary:hover {
    background-color: pink;
}

.label {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}




@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}




#controls {
    // border: 1px solid red;

    margin: 10px auto;

    padding: 10px;

    width: 1000px;

    display: grid;

    // grid-template-rows: repeat(4, 1fr);//auto 1fr 2fr auto;

    grid-template-rows: repeat(auto-fill);
    grid-template-columns: repeat(3, 1fr);

    .array_settings {
        grid-row: 2;
        grid-column: 2;
        @include flex-center;
        
        #size_slider {
            @include flex-center;
    
            span {
                margin: 0 10px;
            }
        }
    }

    .algo_settings {
        grid-column: 3;
        grid-row: 2;
        margin: 10px 0;

        @include flex-center;    
    }

    .speed_settings {
        grid-column: 1;
        grid-row: 2;

        @include flex-center;
    }

    .overview {
        grid-row: 3;
        grid-column: 1 / span 3;

        display: hidden;

        font-weight: bold;
        text-transform: uppercase;


        p {
            margin: 15px 30px;
        }

        span {
            font-weight: normal;
        }


    }

    .start {
        grid-row: 4;
        grid-column: 2;

        margin: 10px;
        text-align: center;

        button:enabled {
            background-color: red;

            &:hover {
                background-color: pink;
            }
        }

        // button {
        //     margin: 10px 0;
        //     background-color: red;
        //     color: white;

        //     &:hover {
        //         background-color: pink;
        //     }
        // }
    }
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
}

button:disabled, button[disabled]  {
    background-color: grey;
    color: white;
}


// input[type="radio"] {
//     appearance: none;
// }



